= f.collection_select(:authorship_ids, Authorship.where(authorshipable_type: "Organization"), :id, :authorshipable)

= link_to_add_fields("Add item", f, :authorship_ids)


javascript:

  var ready;

  ready = function() {
    $('form').on('click', '.btn-remove-fields', function(event) {
      $(this).prev('input[type=hidden]').val('1');
      $(this).closest('fieldset').hide();
      return event.preventDefault();
    });
    return $('form').on('click', '.add_fields', function(event) {
      var regexp, time;
      time = new Date().getTime();
      regexp = new RegExp($(this).data('id'), 'g');
      $(this).before($(this).data('fields').replace(regexp, time));
      return event.preventDefault();
    });
  };

  $(document).ready(ready);
  $(document).on('page:load', ready);
