  = f.input :name, placeholder: true
  = f.input :description, placeholder: true, as: :text
  = f.input :start_date, placeholder: true, include_blank: true, as: :date
  = f.input :end_date, placeholder: true, include_blank: true, as: :date
