= f.input :name, placeholder: true
= f.input :description, placeholder: true, as: :text
= f.input :start_date, placeholder: true, as: :date, order: [:day, :month, :year]
= f.input :end_date, placeholder: true, as: :date, order: [:day, :month, :year], prompt: true
= f.input :note, placeholder: true
