/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require twitter-bootstrap-static/bootstrap
 *= require_self
 *= require font-awesome
 *= require common
 *= require header
 *= require side_bar
 *= require_tree ./client/
 */

.breadcrumbs {
  color: #888;
  height: 4rem;
  padding: 1rem 2rem;
  border-bottom: solid 1px #e7ecf1;
}

.breadcrumbs a {
  color: #888;
}

.action-container {
  padding: 1.5rem;
}

.rounded-icon {
  padding: 1rem;
  float: right;
  position: absolute;
  border-radius: 50%;
  right: 1rem;
  bottom: 1rem;
  border: solid 1px #ccc;
  color: #666;
}

.rounded-icon:hover {
  color: #fff;
  background-color: #ccc;
}
