html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  height: 100%;
}

body {
  background-color: #364150;
  height: 100%;
}

ul {
  padding: 0;
  list-style-type: none;
}

input {
  outline:none;
}

p {
  overflow: scroll;
}

.main_container {
  min-height: 100%;
  overflow: hidden;
  background-color: #fff;
}

.separator {
  font-size: 0.5rem;
  margin: 0 1rem;
  position: relative;
  top: -3px;
  opacity: .4;
}
