= link_to "Tipos de Acción", admin_act_types_path
= link_to "Usuarios", admin_users_path
= link_to "Acciones", admin_acts_path
= link_to "Objetivos", admin_targets_path
= link_to "Organizationes", admin_organizations_path